* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, system-ui;
}

body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #2d3a3f;
    padding: 15px 400px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.buttons {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons:hover {
    background-color: #45a049;
}


.page-content {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
}

.page-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.page-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.page-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}


.dishes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.dish {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 20px;
}

.dish:hover {
    transform: scale(1.05);
}

.dish img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.dish h6 {
    font-size: 20px;
    color: #333;
    padding: 10px;
}


.contact {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.contact p {
    font-size: 16px;
    color: #666;
}


